In [14]:
import requests
from io import StringIO
import pandas as pd

## Getting access token

run in terminal

```bash
source env.sh
python lakey_service/manage.py create_account --type ADMIN <here_put_you_email>
python lakey_service/manage.py create_auth_token <here_put_you_email>
```

In [3]:
access_token = (
    'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MSwiZW1haWwiOiJtYWNpZWpAY29zcGhlcmUub3JnIiwi'
    'dHlwZSI6IkFETUlOIiwiZXhwIjoxNTU2MzU1OTIxfQ.tC_z4-SReuzBAFh0ppCq23AMDzqYsFKGQFnLArRBcP8')

## CREATED BY ADMIN - Create Catalogue Item

In [5]:
response = requests.post(
    'http://localhost:8887/catalogue/items/',
    json={
        'name': 'lakey.shopping',
        'maintained_by_id': 1,
        'executor_type': 'ATHENA',        
        'spec': [
            {
                'name': 'email',
                'type': 'STRING',
                'size': None,
                'is_nullable': False,
                'distribution': None,
            },
            {
                'name': 'name',
                'type': 'STRING',
                'size': None,
                'is_nullable': False,
                'distribution': None,
            },
            {
                'name': 'price',
                'type': 'FLOAT',
                'size': None,
                'is_nullable': False,
                'distribution': None,
            }, 
            {
                'name': 'quantity',
                'type': 'INTEGER',
                'size': None,
                'is_nullable': False,
                'distribution': None,
            },             
        ]
    },
    headers={'Authorization': f'Bearer {access_token}'})

cid = response.json()['id']

In [26]:
response = requests.get(
    f'http://localhost:8887/catalogue/items/{cid}',
    headers={'Authorization': f'Bearer {access_token}'})

response.json()

{'id': 1,
 'name': 'lakey.shopping',
 'spec': [{'name': 'email',
   'size': None,
   'type': 'STRING',
   'is_nullable': False,
   'distribution': None},
  {'name': 'name',
   'size': None,
   'type': 'STRING',
   'is_nullable': False,
   'distribution': None},
  {'name': 'price',
   'size': None,
   'type': 'FLOAT',
   'is_nullable': False,
   'distribution': None},
  {'name': 'quantity',
   'size': None,
   'type': 'INTEGER',
   'is_nullable': False,
   'distribution': None}],
 'sample': [],
 'executor_type': 'ATHENA',
 'created_by': {'id': 1,
  'email': 'maciej@cosphere.org',
  'type': 'ADMIN',
  '@type': 'account'},
 'updated_by': {'id': 1,
  'email': 'maciej@cosphere.org',
  'type': 'ADMIN',
  '@type': 'account'},
 'maintained_by': {'id': 1,
  'email': 'maciej@cosphere.org',
  'type': 'ADMIN',
  '@type': 'account'},
 '@type': 'catalogue_item',
 '@event': 'CATALOGUEITEM_READ'}

## UI CLICK DOWNLOAD BUTTON - Create Download Request

In [30]:
response = requests.post(
    'http://localhost:8887/downloader/requests/',
    json={
        'spec': {
            'columns': ['name', 'quantity', 'price'],
            'filters': [
                {                        
                    'name': 'quantity',
                    'operator': '>=',
                    'value': 4,
                },
            ],
            'randomize_ratio': 0.6,
        },
        'catalogue_item_id': cid,
    },
    headers={'Authorization': f'Bearer {access_token}'})

uri = response.json()['uri']
uri

'https://s3.eu-central-1.amazonaws.com/lakey/results/416ec324-72f0-4258-baca-dfaf73f800dd.csv'

## UI DOWNLOADS DATA LOCALLY

In [31]:
response = requests.get(uri)
response

In [32]:
df = pd.read_csv(StringIO(response.content.decode('utf8')))

print(df.count())
df.head(10)

name        55718
quantity    55718
price       55718
dtype: int64

                    name  quantity   price
0  Dr. Lawrence Dach III         8  381.80
1             Quint Kris         7  169.34
2       Damond Gulgowski         5  589.73
3          Kenia Watsica         4   56.59
4           Deane Parker         8  406.26
5        Shardae Kuhlman         9  876.50
6           Jerry Klocko         4  536.68
7   Virdie Runolfsdottir         9  506.61
8         Kamren Gerlach         9  700.82
9         Franz Connelly        10  782.72